video, input {
    display: block;
}

input {
    width: 100%;
}

.info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;

}

.error {
    color: #fff;
    background-color: #d2322d;
    border-color: #ac2925;
}

#wrapper {
    width: 640px;
    margin: 1em auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#brand a,
p a {
    border: 1px #fff dotted;
}

#brand a:focus,
p a:focus {
    border: 1px #999 dotted;
    outline: none;
}

p {
    padding-top: 1em;
}
